# Logs
backend/error.log
*.log

# Environment files
.env
config.local.php

# IDE files
.idea/
.vscode/
*.sublime-project
*.sublime-workspace

# OS files
.DS_Store
Thumbs.db

# Dependencies
node_modules/
vendor/

# Build files
dist/
build/ 